<div class="container">
  <div class="row">
    <div class="col-md-12 bg-secondary-theme p-5 shadow-effect">
      <h3 class="text-center text-theme-primary">New Categories</h3>
      <p class="text-center mb-5">You can add {{formStatus}} categories from here..!</p>
<!--
      #categoryForm: Esta variable permite hacer referencia al formulario desde dentro de la plantilla HTML.

      ngForm: es una directiva que Angular proporciona. Es una directiva que transforma un elemento <form> en un formulario administrado por Angular, proporcionando funcionalidades como validación, seguimiento del estado de los controles, y manejo de los datos del formulario.

      ngModel vincula una referencia local (en este caso #newCategory) al `ngModel` de Angular, permitiendo acceder a las propiedades del modelo (como `touched`, `valid`, `invalid`, etc.) de este campo de entrada.

      [(ngModel)]: es una directiva en Angular que permite el enlace de datos bidireccional entre el control del formulario (como un <input>, <select>, etc.) y el modelo de datos en el componente de Angular.

      name="category": Asigna el nombre "category" al campo de entrada. Este nombre se usa cuando el formulario se envía al servidor, para identificar qué valor corresponde a esta entrada. -->

      <form class="form-inline text-center" #categoryForm="ngForm" (ngSubmit)="onSubmit(categoryForm)"> <!-- Con #categoryForm="ngForm", el formulario completo, con todos sus controles e información de estado, puede ser accedido en la plantilla o pasado al componente de Angular como un objeto. En este caso, se pasa como argumento al método onSubmit cuando se envía el formulario. -->

      <!-- Este es un enlace de dos vías (`[(ngModel)]`) que sincroniza el valor del campo de entrada con la propiedad `formCategory` en el componente de Angular. Si el usuario escribe algo, `formCategory` se actualiza automáticamente, y si `formCategory` cambia en el componente, el valor del campo de entrada también se actualiza. -->
        <div class="form-group col-md-10">
          <input
          type="text"
          class="form-control shadow-effect"
          name="category"
          placeholder="Add New Categories"
          #newCategory='ngModel'
         [(ngModel)]="formCategory"
          required
          [ngClass]="{'is-invalid': newCategory.touched && newCategory.invalid}"
          > <!-- El valor que el usuario ingresa en este campo se almacena en la propiedad category del objeto de datos del formulario. Imagina que el usuario ingresa "Electronics" en el campo de entrada. Gracias a ngModel, el valor "Electronics" se asigna automáticamente a categoryForm.value.category -->
          <div class="alert alert-danger" *ngIf="newCategory.touched && newCategory.invalid">
            Category field is required
          </div>
        </div>

        <div class="col-md-2">
          <button class="btn btn-block btn-info mb-2 btn-theme" [disabled]="categoryForm.invalid">{{formStatus}} Catgerory</button> <!-- Desactiva el botón de envío si el formulario es inválido (si el campo "category" está vacío). -->
        </div>
      </form>
    </div>
  </div>

  <div class="row mt-5 mb-5">
    <div class="col-md-3"></div>

    <div class="col-md-6">
      <div class="card shadow-effect">
        <div class="card-body">
          <table class="table row-border hover">
            <thead>
              <tr>
                <th>Number</th>
                <th>Category</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let category of categoryArray; let i = index">
                <td>{{i + 1}}</td>
                <td>{{category.data.category}}</td>
                <td>
                  <button class="btn btn-sm btn-warning" (click)="onEdit(category.data.category, category.id)"> Edit</button>
                  <button class="btn btn-sm btn-danger ml-2" (click)="onDelete(category.id)"> Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-3"></div>
  </div>
</div>
