<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow-effect bg-secondary-theme">
        <div class="card-body text-center">
          <h3 class="text-theme-center">All Blog Posts</h3>
          <p>From here you can manage your blog posts.</p>

          <button class="btn btn-info bg-thrme" routerLink="/posts/new">Add New Post</button> <!-- para que al hacer click en este boton, me redirija a  http://localhost:63645/posts/new -->
          <button class="btn btn-warning ml-2" routerLink="/">Back to Dashboard</button> <!-- para que al hacer click en este boton, me redirija a la ruta raíz de la aplicación  http://localhost:63645 -->
        </div>
      </div>
    </div>
  </div>
</div>
